snippet :first
	:${1:what}="\\App\\Models\\${2:Whaaat}::inRandomOrder()->first()"
snippet :all
	:${1:what}="\\App\\Models\\${2:Whaaat}::inRandomOrder()->get()"
snippet :limit
	:${1:what}="\\App\\Models\\${2:Whaaat}::inRandomOrder()->limit(${3:5})->get()"
