snippet swagger
	---
	swagger: "2.0"

	info: 
		description: |
			${1:what?}
		version: "1.0.0"
		title: ${2:whaaat?}
		contact: 
			email: "zendzirou@gmail.com"

	host: "local.bubujka.org:3000"
	basePath: "/frontend"
	schemes: 
		- "http"
	produces: ['application/json']

	tags: 
	paths: 
	definitions: 
