[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-jade"]
	path = vim/.vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/.vim/bundle/vim-javascript-syntax"]
	path = vim/.vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/bundle/vim-stylus"]
	path = vim/.vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/.vim/bundle/editorconfig-vim"]
	path = vim/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
