[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-jade"]
	path = vim/.vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/.vim/bundle/vim-javascript-syntax"]
	path = vim/.vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/bundle/vim-stylus"]
	path = vim/.vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/.vim/bundle/editorconfig-vim"]
	path = vim/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/.vim/bundle/vim-snipmate"]
	path = vim/.vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "vim/.vim/bundle/tlib_vim"]
	path = vim/.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/.vim/bundle/vim-addon-mw-utils"]
	path = vim/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/.vim/bundle/vim-snippets"]
	path = vim/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-mustache-handlebars"]
	path = vim/.vim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/.vim/bundle/apiblueprint.vim"]
	path = vim/.vim/bundle/apiblueprint.vim
	url = https://github.com/kylef/apiblueprint.vim.git
[submodule "bin/.bin/git-extras"]
	path = bin/.bin/git-extras
	url = https://github.com/tj/git-extras.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/.vim/bundle/emmet-vim"]
	path = vim/.vim/bundle/emmet-vim
	url = https://github.com/Bubujka/emmet-vim.git
[submodule "vim/.vim/bundle/vim-bemhtml"]
	path = vim/.vim/bundle/vim-bemhtml
	url = https://github.com/vim-scripts/vim-bemhtml.git
[submodule "vim/.vim/bundle/vim-jst"]
	path = vim/.vim/bundle/vim-jst
	url = https://github.com/briancollins/vim-jst.git
[submodule "vim/.vim/bundle/vim-slim"]
	path = vim/.vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim/.vim/bundle/vim-unimpaired"]
	path = vim/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-phpfmt"]
	path = vim/.vim/bundle/vim-phpfmt
  url = https://github.com/Bubujka/vim-phpfmt.git
[submodule "vim/.vim/bundle/vim-autoformat"]
	path = vim/.vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "vim/.vim/bundle/vim-markdown-folding"]
	path = vim/.vim/bundle/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
[submodule "vim/.vim/bundle/vim-puppet"]
	path = vim/.vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/.vim/bundle/vim-vagrant"]
	path = vim/.vim/bundle/vim-vagrant
	url = https://github.com/hashivim/vim-vagrant.git
[submodule "vim/.vim/bundle/vim-raml"]
	path = vim/.vim/bundle/vim-raml
	url = https://github.com/kennethzfeng/vim-raml.git
[submodule "vim/.vim/bundle/vim-log-syntax"]
	path = vim/.vim/bundle/vim-log-syntax
	url = https://github.com/dzeban/vim-log-syntax.git
