snippet rcc
	var ${1:Item} = React.createClass({
		render: function(){
			return <${2:div}>${3}</$2>;
		}
	});
snippet rgis
	getInitialState: function(){
		return {
			${1}
		};
	},
snippet rr
	React.render(<${1:Component} />, document.${2});

snippet ss
	this.setState({
		${1}
	});
snippet gdn
	getDOMNode().value

snippet cwm
	componentWillMount: function(){
		${1}
	},

snippet cwrp
	componentWillReceiveProps: function(newProps){
		${1}
	},
