XTerm*internalBorder: 10
XTerm*metaSendsEscape: true
XTerm*eightBitInput: false
XTerm*faceName: Input Mono Condensed Regular
! XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 12

#define S_seagrey1 #0b141a
#define S_seagrey2 #1d252b
#define S_seagrey3 #61707a
#define S_seagrey4 #6d767d
#define S_seagrey5 #787e82
#define S_seagrey6 #808487
#define S_seagrey7 #e6eaed
#define S_seagrey8 #ffffff

XTerm*background:  S_seagrey8
XTerm*foreground:  S_seagrey4
XTerm*cursorColor: S_seagrey3

XTerm*color8:  S_seagrey1
XTerm*color0:  S_seagrey2
XTerm*color10: S_seagrey3
XTerm*color11: S_seagrey4
XTerm*color12: S_seagrey5
XTerm*color14: S_seagrey6
XTerm*color7:  S_seagrey7
XTerm*color15: S_seagrey8

#define S_red    #ff4053
#define S_orange #ff6200
#define S_yellow #bf8c00
#define S_green  #11ab00
#define S_teal   #00a5ab
#define S_blue   #0099ff
#define S_purple #9854ff
#define S_pink   #ff549b

XTerm*color1:  S_red
XTerm*color9:  S_orange
XTerm*color3:  S_yellow
XTerm*color4:  S_blue
XTerm*color6:  S_teal
XTerm*color2:  S_green
XTerm*color13: S_purple
XTerm*color5:  S_pink
