'exception-reporting':
  'userId': '14aca772-15f5-7385-ae84-dc3971412e08'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '075f0ee78e7cbb1beaf4681df9251c8ab4728c16'
'core':
  'themes': [
    'atom-light-ui'
    'solarized-light-syntax'
  ]
  'disabledPackages': [
    'vim-mode'
  ]
'editor':
  'fontSize': 18
'autosave':
  'enabled': true
