snippet ini
	ini_set('display_errors', 1);
	error_reporting(E_ALL);
snippet f
	function ${1:name}(${2}){
		${0}
	}
snippet array_map
	$${1:data} = array_map(function($v){
		${0}
	}, ${2:$source});
snippet array_filter
	$${1:data} = array_filter(${2:$source}, function($v){
		${0}
	});
snippet fore
	foreach(${1:data} as $k=>$v){
		${0}
	}
