root = true

[*]
charset = utf-8
trim_trailing_whitespace = true

[*.php]
end_of_line = lf
indent_style = space
indent_size = 4

[*.js]
end_of_line = lf
indent_style = space
indent_size = 2
[*.yaml]
end_of_line = lf
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 2

[*.py]
indent_size = 4
charset = utf-8

[*.sh]
indent_style = tab
indent_size = 8
charset = utf-8
