#!/bin/bash
export VIDEO_RECORDING_RESOLUTION='1600x900' # у меня такой экран
export VIDEO_CONVERT_RESOLUTION='1280x720' # ютуб до такого размера пожмёт всё равно. Заливать меньше
export VIDEO_SAVING_PATH=/home/bubujka/.db/history/video 
export PATH=$PATH:$HOME/.bu.bin/bin
. "$HOME/.password"
bash -c 'sleep 2 ; setxkbmap -layout us,ru -option  ctrl:nocaps'&
bash -c 'sleep 3 ; xmodmap ~/.xmodmap'&
bash -c 'sleep 3 ; xrdb -load ~/.Xresources'&
nm-applet &
